<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="YahooTestAutomationSuite">
	<test name="YahooParameterTest">
	
	<parameter name="url" value="https://login.yahoo.com/"/>
	<parameter name="emailid" value="agjskjgksdjgjsd@gmail.com"/>
		<classes>
			<class name="com.testngpractice.ParameterTest"></class>
		</classes>
	</test>
</suite>